

@font-face {
    font-family: "MGS2";
    src: url('../assets/fonts/mgs2.ttf');
} 


@font-face {
    font-family: "Yellowtail", cursive;
    src: url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
}


@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');